<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="inputExample">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
</head>
<!-- Angular Material requires Angular.js Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>


<!-- Angular Material Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
<script src="t.js"></script>

<body ng-controller="ExampleController as ctrl" ng-cloak>
  <!--
    Your HTML content here
  -->

  <!--<div id="popupContainer">
    <md-button class="md-primary md-raised" ng-click="ctrl.showAlert()">
      Alert Dialog
    </md-button>
  </div>-->

  <!--<md-button class="md-primary md-raised" ng-click="ctrl.showPrompt()"  >
      Prompt Dialog
    </md-button>-->
  <form name="colorForm" >
    <md-input-container>
      <label>姓名:</label>
      <input type="text" ng-model="user.name" required md-maxlength="10">
    </md-input-container>
    <md-input-container>
      <label>地址:</label>
      <input name="地址" ng-model="user.address" required md-maxlength="10">
      <div ng-messages="colorForm.user.address.$error">
        <div ng-message="required">This is required!</div>
      </div>
    </md-input-container>
  </form>
  <md-input-container>
    <label>备注:</label>
    <textarea ng-model="user.remark"></textarea>
  </md-input-container>

  //panel
  <md-list-item>
    <span>姓名:</span>
    <div class="md-list-item-text" layout="column">
      <p>{{user.name}}</p>
    </div>
  </md-list-item>
  <md-list-item>
    <span>地址:</span>
    <div class="md-list-item-text" layout="column">
      <p>{{user.address}}</p>
    </div>
     
  </md-list-item>
<md-list-item>
  <span>备注:</span>
    <div class="md-list-item-text" layout="column">
      <p>{{user.remark}}</p>
    </div>
</md-list-item>
  <md-button class="md-primary md-raised" ng-click="ctrl.showConfirm()">
    Confirm Dialog
  </md-button>
  <md-button class="md-primary md-raised" ng-click="ctrl.test()">test</md-button>

  <h3>
      RGB <span ng-attr-style="border: 1px solid #333; background: rgb({{color.red}},{{color.green}},{{color.blue}})">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </h3>

    <md-content style="margin: 16px; padding:16px">

    <md-slider-container>
      <span>R</span>
      <md-slider flex min="0" max="255" ng-model="color.red" aria-label="red" id="red-slider">
      </md-slider>
      <md-input-container>
        <input flex type="number" ng-model="color.red" aria-label="red" aria-controls="red-slider">
      </md-input-container>
    </md-slider-container>

    <md-slider-container>
      <span>G</span>
      <md-slider flex ng-model="color.green" min="0" max="255" aria-label="green" id="green-slider" class="md-accent">
      </md-slider>
      <md-input-container>
        <input flex type="number" ng-model="color.green" aria-label="green" aria-controls="green-slider">
      </md-input-container>
    </md-slider-container>

    <md-slider-container>
      <span class="md-body-1">B</span>
      <md-slider flex ng-model="color.blue" min="0" max="255" aria-label="blue" id="blue-slider" class="md-primary">
      </md-slider>
      <md-input-container>
        <input flex type="number" ng-model="color.blue" aria-label="blue" aria-controls="blue-slider">
      </md-input-container>
    </md-slider-container>
    </md-content>
</body>